                <div class="col_one_third widget_links topmargin nobottommargin">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/Contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col_one_third widget_links topmargin nobottommargin">
                    <ul>
                        <li><a href="/Classifieds">Classifieds</a></li>
                        <li><a href="/Events"></a>Events</li>
                        <li><a href="/Calendar">Calendar</a></li>
                    </ul>
                </div>