                <div class="col_one_third widget_links topmargin nobottommargin">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col_one_third widget_links topmargin nobottommargin">
                    <ul>
                        <li><a href="/Classifieds">Classifieds</a></li>
                        <li><a href="/Events">Events</a></li>
                        <li><a href="/Calendar">Calendar</a></li>
                    </ul>
                </div>