html {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Quicksand";
    color: #2e3b4e;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list-card {
    padding: 16px 0 12px 0;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    display: block;
    background-color: #fff;
    text-align: left;
}

.card-date {
    display: inline-block;
    text-align: center;
}

.card-date .month {
    background-color: #ba0f6b;
    width: 52px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 11px;
    font-style: bold;
    font-weight: 500;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card-date .date {
    width: 52px;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-top: 2px;
}

.card-date .day {
    width: 52px;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1;
    border-bottom: 1px solid #ECEFF1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 10px;
    font-weight: 500;
    color: black;
    padding-bottom: 2px;
}
