/*
========================
Services (Dashboard)
========================
*/

.nn-dynamic-item {
	margin-left: -1px;
	width: 100%;
}

.nn-di-th {
	background-color:#F9F9F9 !important;
	height: 20px;
	padding: 0px;
	margin: 0px;
	text-align: left !important;
    width: 50%;
}

.nn-di-th-r {
	border-right: 1px solid #CDCDCD;	
}
.nn-di-th-l{
	border-left: 1px solid #CDCDCD;
}

.nn-di-content {
	background:#fff;
	padding: 0px !important;
	margin-bottom: 1px;
}

.collapse .in .nn-di-content {
	border-top: 1px solid #CDCDCD;
}

.nn-di-inner-content{
	margin: 15px;
}

.nn-di-td {
	padding: 0px !important;
}

.nn-di-ul {
	list-style-type: none;
	margin-bottom: 15px;
}

.nn-di-ul a {
	cursor: pointer;
}

.nn-di-li {
	padding: 5px;
	border: 1px solid #dadada;
}

.nn-di-li.title {
	background-color: #F9F9F9;
	text-align: center;
	font-weight: bold;
}

.nn-di-li.ctrl {
	background-color: #F9F9F9;
	border: 1px solid #dadada;
	padding: 5px;
	display: inline;
}

.nn-di-li span{
	color: #2295c9;
	font-weight: bold;
}

.nn-di-li span.nn-active{
	color: #28b779;
}

.nn-di-li span.nn-blocked{
	color: #da542e;
}

.nn-di-li-sitem {
	padding: 5px;
	border: 1px solid #dadada;
}

.content-schditm {
    margin: 0px !important;
}

.row-schditm {
    margin: 0px !important;
}

.tbl-schditm {
    width: 100%;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

.nn-color-sq {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding: 0px !important;
    border: 1px solid #ddd !important;
    vertical-align: middle;
}

.nn-editing-hd {
    background-color: #ff9797 !important;
}

.sorting_1 {
    padding: 0 !important;
}

.nopadding {
   padding: 0 !important;
}

.nopadding-bold {
    padding: 0 !important;
    font-weight: bold;
}

.nn-lineaction {
    margin-left: 3px !important;
}

.nn-detail {
    background-color: #fff !important;
}

.nn-clsimg-list {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.nn-clsimg-itm {
    width: auto;
    height: 100px;
}

.nn-clstitle-list {
    display: inline-block;
    margin-left: 15px;
}

.nn-div-ctrl {
    background-color: #F9F9F9;
	border: 1px solid #dadada;
	padding: 5px;
	display: inline-block;
    white-space: nowrap;
    margin-left: 30px;
    margin-top: 15px;
}