<!-- Modal -->
<div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="AddUserLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddUserLabel">New User</h4>
            </div>
            <div class="modal-body">

                <div class="row-fluid">
                    <div class="span12">

                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"> <i class="icon-user"></i> </span>
                                <h5>New User Information</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <form action="#" method="get" class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label">First Name :</label>
                                        <div class="controls">
                                            <input type="text" class="span11" placeholder="First name" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Last Name :</label>
                                        <div class="controls">
                                            <input type="text" class="span11" placeholder="Last name" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Password input</label>
                                        <div class="controls">
                                            <input type="password" class="span11" placeholder="Enter Password" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Company info :</label>
                                        <div class="controls">
                                            <input type="text" class="span11" placeholder="Company name" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Description field:</label>
                                        <div class="controls">
                                            <input type="text" class="span11" />
                                            <span class="help-block">Description field</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Message</label>
                                        <div class="controls">
                                            <textarea class="span11"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- Modal Body-->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>