@{
    ViewBag.Title = "About Us";
}

<!-- Page Title
============================================= -->
<section id="page-title" style="background-color: #ba0f6b; color: #fff !important">

    <div class="container clearfix">
        <h1 style="color: #fff !important">About Us</h1>
        <span style="color: #fff !important">Welcome to the vibrant network of newcomers at The Peoples Church.</span>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>About Us</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Postcontent
            ============================================= -->
            <div class="postcontent nobottommargin">

                <div class="col-md-6">
                    <h4 style="color: #00588d; font-weight: bold">Who We Are</h4>
                    <p class="description-content">
                        The Newcomers Network of The Peoples Church provides newcomer settlement services, referral and orientation, in partnership with the YMCA and the Mennonite New Life Centre.
                    </p>
                    <br>
                    
                    <h4 style="color: #00588d; font-weight: bold">Together we serve God</h4>
                    <p class="description-content">
                        Along with lay leaders and participating members, we endeavour to serve in the following areas:
                    </p>
                    
                    <ul style="margin-left: 20px">
                        <li>New Immigrants Ministry</li>
                        <li>International Students Ministry</li>
                        <li>Refugee Ministry</li>
                        <li>Employment Mentoring Ministry</li>
                        <li>ESL Ministry</li>
                        <li>Walk with a Newcomer</li>
                    </ul>
                    <a target="_blank" class="btn btn-primary" style="color: #fff; font-weight: bold" href="http://thepeopleschurch.ca/newcomers-network/">Learn More</a>
                    <p>
                    </p>
                </div>
                
                <div class="col-md-6">
                    <h4 style="color: #00588d; font-weight: bold">Objective of This Website Section</h4>
                    <p class="description-content">
                        The Newcomers Network website provides a forum for newcomers and volunteers to connect and help each other in a community of Christ.
                    </p>
                    <br>
                    <h4 style="color: #00588d; font-weight: bold">Newcomers Corner</h4>
                    <p class="description-content">
                        This section provides various resources and tools for newcomers to help settle in and connect with others in the community.
                    </p>
                    <br>
                    <h4 style="color: #00588d; font-weight: bold">Volunteers Corner</h4>
                    <p class="description-content">
                        This section provides various volunteer opportunities for church members and volunteers to engage and offer help.
                    </p>
                    <br>
                    <h4 style="color: #00588d; font-weight: bold">Just Share</h4>
                    <p class="description-content">
                        This section is aimed to be a useful tool for newcomers to post their needs on settlement, employment and housing.
                    </p>
                </div>

            </div><!-- .postcontent end -->

        </div>

    </div>

</section><!-- #content end -->

@section JSSection {

}

@section DocReadySection {

}