@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main";
}

<section id="slider" class="slider-parallax swiper_wrapper clearfix">

    <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">

                <div class="swiper-slide dark" style="background-image: url('/Content/Images/slider/1.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-left">
                            <h2 data-caption-animate="fadeInUp">New to Canada?</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">We are here to help you settle in.</p>
                        </div>
                    </div>
                </div>
                <!--
                <div class="swiper-slide dark">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <video poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
                            <source src='images/videos/explore.mp4' type='video/mp4' />
                            <source src='images/videos/explore.webm' type='video/webm' />
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
                -->
                <div class="swiper-slide" style="background-image: url('/Content/Images/slider/3.jpg'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption">
                            <h2 data-caption-animate="fadeInUp">Great Events</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Stay tuned on our events.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
        </div>

    </div>

</section>

<section id="content">
    <div class="content-wrap">
        
        <div class="promo promo-dark promo-full bottommargin-lg header-stick notopborder" style="padding-bottom: 0px !important">

            <div class="container clearfix">

                <div class="col_one_sixth nobottommargin" style="margin: 0px">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder" style="border-right: 1px dotted white">
                        <div class="fbox-icon">
                            <a href="#"><i class="i-alt noborder icon-shop"></i></a>
                        </div>
                        <h3>Immigration &amp; Settlement</h3>
                    </div>
                    <div style="position: relative; bottom: 0px; min-height: 20px; border-bottom: 10px solid #fec33e !important"></div>
                </div>

                <div class="col_one_sixth nobottommargin" style="margin: 0px">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder" style="border-right: 1px dotted white">
                        <div class="fbox-icon">
                            <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
                        </div>
                        <h3>Employment &amp; Career</h3>
                    </div>
                    <div style="position: relative; bottom: 0px; min-height: 20px; border-bottom: 10px solid #ba0f6b !important"></div>
                </div>

                <div class="col_one_sixth nobottommargin" style="margin: 0px">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder" style="border-right: 1px dotted white">
                        <div class="fbox-icon">
                            <a href="#"><i class="i-alt noborder icon-shop"></i></a>
                        </div>
                        <h3>Legal Clinic</h3>
                    </div>
                    <div style="position: relative; bottom: 0px; min-height: 20px; border-bottom: 10px solid #00588d !important"></div>
                </div>

                <div class="col_one_sixth nobottommargin" style="margin: 0px">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder" style="border-right: 1px dotted white">
                        <div class="fbox-icon">
                            <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
                        </div>
                        <h3>Language Centre</h3>
                    </div>
                    <div style="position: relative; bottom: 0px; min-height: 20px; border-bottom: 10px solid #ff6a00 !important"></div>
                </div>

                <div class="col_one_sixth nobottommargin" style="margin: 0px">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder" style="border-right: 1px dotted white">
                        <div class="fbox-icon">
                            <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
                        </div>
                        <h3>Health &amp; Well-being</h3>
                    </div>
                    <div style="position: relative; bottom: 0px; min-height: 20px; border-bottom: 10px solid #b6d554 !important"></div>
                </div>

                <div class="col_one_sixth nobottommargin" style="margin-right: 0px !important">
                    <a href="/Classifieds"><img src="~/Content/Images/classifieds.png" alt="Classifieds"></a>
                </div>

                <!--
                <h3>Call us today at <span>+91.22.57412541</span> or Email us at <span>support@canvas.com</span></h3>
                <span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>
                <a href="#" class="button button-dark button-xlarge button-rounded">Start Browsing</a>
                -->



            </div>
        </div>
    </div>
</section>