@{
    ViewBag.Title = "Legal/Privacy";
}

<!-- Page Title
============================================= -->
<section id="page-title" style="background-color: #00588d; color: #fff !important">

    <div class="container clearfix">
        <h1 style="color: #fff !important">Legal / Privacy</h1>
        <span style="color: #fff !important">Please note these important details about our website.</span>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Legal / Privacy</li>
        </ol>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Postcontent
            ============================================= -->
            <div class="postcontent nobottommargin">

                <h4 style="color: #ba0f6b !important; margin-bottom: 10px">Charitable Registration</h4>
                <p>“The Peoples Church” and “Living Truth” are ministries and official trade names of Peoples Ministries Inc., a registered charity in Canada. Donations may be designated to The Peoples Church, Living Truth and Peoples Ministries Inc. under our charitable registration number: 13063-7051 RR0001.</p>

                <h4 style="color: #ba0f6b !important; margin-top: 20px; margin-bottom: 10px">Scripture Quotations</h4>
                <p>Unless otherwise noted, Scripture quotations are taken from Holy Bible, New International Version® Anglicized, NIV® Copyright © 1979, 1984, 2011 by Biblica, Inc.® Used by permission. All rights reserved worldwide.</p>
                
                To enable direct embedding, convert this policy to Pro.

</div><!-- .postcontent end -->

        </div>

    </div>

</section><!-- #content end -->

@section JSSection {

}

@section DocReadySection {

}