@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";
}

<section id="content">
    <div class="content-wrap">

        <div class="acc_content clearfix divcenter" style="max-width: 400px; background-color: #fff; padding: 40px; border: 0px">

            <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                <div><h3><i class="icon-user4" style="margin-right: 15px"></i>Register for an Account</h3></div>

                <div class="col_full">
                    <label for="register-form-email">Email Address:</label>
                    <input type="text" id="register-form-email" name="register-form-email" value="" class="form-control" />
                </div>

                <div class="col_full">
                    <label for="register-form-name">First Name:</label>
                    <input type="text" id="register-form-firstname" name="register-form-firstname" value="" class="form-control" />
                </div>


                <div class="col_full">
                    <label for="register-form-username">Last Name:</label>
                    <input type="text" id="register-form-lastname" name="register-form-lastname" value="" class="form-control" />
                </div>

                <div class="col_full">
                    <label for="register-form-password">Choose Password:</label>
                    <input type="password" id="register-form-password" name="register-form-password" value="" class="form-control" />
                </div>

                <div class="col_full">
                    <label for="register-form-repassword">Re-enter Password:</label>
                    <input type="password" id="register-form-repassword" name="register-form-repassword" value="" class="form-control" />
                </div>

                <div class="col_full nobottommargin">
                    <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
                </div>
            </form>
        </div>

    </div>
</section>