/*
 * New Dashboard
 */
:root{

  --tpc-blue: #00588d;
  --tpc-red: #ba0f6b;
  --tpc-gold: #fec33e;
  --tpc-lime: #b6d554;
  --tpc-slate: #6d6e6b;

  --menus-bgcolor: #eee;
  --menus-hover-bgcolor: #ddd;
  --menus-selected-bgcolor: #ddd;
  --menu-disabled-color: #aaa;
  --menu-border-color: #ddd;
}


body {
    padding-top: 50px;
    padding-left: 250px;
}

.main {
  padding: 50px;
}

/*
============
Top Menu
============
*/

.topfixed {
  position: fixed;
  display: block;
  top: 0;
  left: 250px;
  background-color: var(--menus-bgcolor);
  width: 100%;
  height: 60px;
  z-index: 900;
  /* border-bottom: 1px solid #ddd; */
  padding: 0;
  margin: 0;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(194,194,194,1);
  -moz-box-shadow: -1px 5px 5px 0px rgba(194,194,194,1);
  box-shadow: -1px 5px 5px 0px rgba(194,194,194,1);
}

.topfixed a.item {
  text-decoration: none;
  display: inline-block;
  width: auto;
  height: inherit;
  padding: 20px;
  /* background-color: #ddd; */
  border-right: 1px solid var(--menu-border-color);
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  margin-left: -2px;
  margin-right: -2px;
}

.topfixed a.item:hover {
  background-color: var(--menus-hover-bgcolor);
  border-bottom: 5px solid var(--tpc-red);
  cursor: pointer;
}

.topfixed a.item.disabled {
  color: #aaa;
}

.topfixed a.item.disabled:hover {
  cursor: default;
  border-bottom: 5px solid var(--tpc-slate);
}

.topfixed .ui.simple.dropdown.item {
  text-decoration: none;
  display: inline-block;
  width: auto;
  height: 100%;
  padding: 20px;
  border-right: 1px solid var(--menu-border-color);
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  margin-left: -2px;
  margin-right: -2px;
}

.topfixed .left {
  display: inline-block;
  position: fixed;
  height: inherit;
  right: 0 !important;
  left: auto;
  /*padding: inherit;*/
  padding: 20px;
  border-left: 1px solid var(--menu-border-color);
  background-color: transparent;
  margin-left: -2px;
  margin-right: -2px;
  z-index: 900;
}

.topfixed .left a.item {
  border-left: 1px solid var(--menu-border-color);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.ui.floating.label {
  top: 0px !important;
  left: auto !important;
}

/*
============
Header Icon
============
*/

.headicon {
   position: fixed;
   display: block;
   padding-right: 10px;
   top: 0;
   left: 0;
   background-color: var(--menus-bgcolor);
   width: 250px;
   height: 150px;
   z-index: 999;
   border-bottom: 1px solid var(--menu-border-color);
   border-right: 1px solid var(--menu-border-color);
   -webkit-box-shadow: 5px 60px 5px 0px rgba(194,194,194,1);
   -moz-box-shadow: 5px 60px 5px 0px rgba(194,194,194,1);
   box-shadow: 5px 60px 5px 0px rgba(194,194,194,1);
}

.headicon img {
   display: inline-block;
   margin-top: 10px;
   margin-left: 50px;
   width: 150px;
   height: auto;
   vertical-align: middle;
   align: center;
   border: 1px solid #ddd;
}

/*
============
Sidebar
============
*/

.sidebaradm {
   position: fixed;
   top: 150px;
   bottom: 0;
   left: 0;
   width: 250px;
   display: block;
   overflow-x: hidden;
   overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
   background-color: var(--menus-bgcolor);
   z-index: 999;
   border-right: 1px solid var(--menu-border-color);
   -webkit-box-shadow: 5px 0px 5px 0px rgba(194,194,194,1);
   -moz-box-shadow: 5px 0px 5px 0px rgba(194,194,194,1);
   box-shadow: 5px 0px 5px 0px rgba(194,194,194,1);
}

.sidebaradm a.item {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--menu-border-color);
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
}

.sidebaradm a i {
  margin-right: 20px;
}

.sidebaradm a .label {
  left: 200px !important;
  position: absolute !important;
}

.sidebaradm a.item.selected {
  background-color: var(--menus-selected-bgcolor);
  border-right: 5px solid var(--tpc-blue);
}

.sidebaradm a.item:hover {
  background-color: var(--menus-hover-bgcolor);
  border-right: 5px solid var(--tpc-blue);
  cursor: pointer;
}

.sidebaradm a.item.disabled {
  color: var(--menu-disabled-color);
}

.sidebaradm a.item.disabled:hover {
  cursor: default;
  border-right: 5px solid var(--tpc-slate);
}

/*
========================
Info-squares (Dashboard)
========================
*/

div[class*="-info"] {
  padding: 20px !important;
  margin-bottom: 10px;
}

.red-info *,
.blue-info *,
.slate-info * {
  color: #fff !important;
}

.red-info {
  background-color: var(--tpc-red);
}

.blue-info {
  background-color: var(--tpc-blue);
}

.lime-info {
  background-color: var(--tpc-lime);
}

.gold-info {
  background-color: var(--tpc-gold);
}

.slate-info {
  background-color: var(--tpc-slate);
  color: #fff;
}

.row {
  margin-bottom: 40px !important;
}
