<!-- Modal -->
<div class="modal fade" id="ServiceRegistrations" tabindex="-1" role="dialog" aria-labelledby="ServiceRegistrationLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ServiceRegistrationLabel">Service Registrations</h4>
            </div>
            <div class="modal-body" id="EventRegistration-container">

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Newcomers Network | Event Registration</h5>
                    </div>

                    <div class="widget-content nopadding">

                        <table class="table table-bordered" id="RegTable">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>E-Mail</th>
                                    <th>Register Date</th>
                                    <th>Slots Requested</th>
                                </tr>
                            </thead>
                            <tbody id="RegistrationList"></tbody>
                        </table>

                    </div>

                </div>

            </div> <!-- Modal Body-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
</div>
