@model NewcomersNetworkAPI.Models.Service
@{
    Layout = "~/Areas/NNAdmin1/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "View Service" ;
}

@section CSSSection {
    <link rel="stylesheet" href="/Content/css/uniform.css" />
    <link rel="stylesheet" href="/Content/css/select2.css" />
}

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/NNAdmin1/Dashboard" title="NNAdmin" class="tip-bottom">
                <i class="icon-home"></i>
                NNAdmin
            </a>
            <a href="/NNAdmin1/Services" title="Services" class="tip-bottom">
                <i class="icon-th"></i>
                Services
            </a>
            <a href="/NNAdmin1/Services/ServiceView?cServiceId=@(Model.ServiceId)" title="Service: @(Model.ServiceName)" class="tip-bottom">
                <i class="icon-th"></i>
                Service: @(Model.ServiceName)
            </a>
        </div>
        <h1>@Model.ServiceName</h1>
    </div>
    <!--End-breadcrumbs-->
    <!--Action boxes-->
    <div class="container-fluid">

        <!--
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"> <a href="index.html"> <i class="icon-th"></i> Add new Service</a> </li>
            </ul>
        </div>
        -->
        <!--End-Action boxes-->

        <div class="row-fluid">

            <!-- LEFT -->
            <div class="span12">

                <hr />

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-list-alt"></i></span>
                        <h5>Newcomers Network | Service Details</h5>
                    </div>
                    <div class="widget-content nopadding">
                        Service Details
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-calendar"></i></span>
                        <h5>Newcomers Network | Service Schedule</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>Service Schedule</th>
                                    <th>Service Description</th>
                                </tr>
                            </thead>
                            <tbody id="ServiceSchedule">

                                <tr>
                                    <td>Schedule 1</td>
                                    <td>Schedule Desc</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>

    </div>


</div>

<script type="text/javascript">
    //Updates the image on selected menu
    DocReady.push(function () { menuSelected("#servicesmnu") });
</script>