:root{

  --tpc-blue: #00588d;
  --tpc-red: #ba0f6b;
  --tpc-gold: #fec33e;
  --tpc-lime: #b6d554;
  --tpc-slate: #6d6e6b;

  --menus-bgcolor: #eee;
  --menus-hover-bgcolor: #ddd;
  --menus-selected-bgcolor: #ddd;
  --menu-disabled-color: #aaa;
  --menu-border-color: #ddd;
}

.nncheck {
    margin-right: 10px;
    cursor: pointer;
}

.nncheck i {    			
	opacity: 0;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
}
.nncheck.checked i {				
	opacity: 1;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    /* IE 5-7 */
    filter: alpha(opacity=1);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
}

.tpc-blue { 
    background-color: #00588d; 
}
.tpc-red {
    background-color: #ba0f6b;
}
.tpc-gold {
    background-color: #fec33e;
}
.tpc-lime {
    background-color: #b6d554;
}
.tpc-slate {
    background-color: #6d6e6b;
}

.tpc-blue-txt { 
    color: #00588d; 
}
.tpc-red-txt {
    color: #ba0f6b;
}
.tpc-gold-txt {
    color: #fec33e;
}
.tpc-lime-txt {
    color: #b6d554;
}
.tpc-slate-txt {
    color: #6d6e6b;
}

html * {
    font-family: 'Quicksand', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: auto;
}

.gold-highlight {
    background-color: var(--tpc-gold);
    font-weight: bold;
    padding: 5px;
}

.grey-highlight {
    color: #fff;
    background-color: var(--tpc-slate);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.navbar {
    border: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    position: relative;
}

.head-logo {
    background-color: var(--tpc-slate);
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border-top-right-radius: 25px 25px;
    -moz-border-radius-topright: 25px 25px;
    -webkit-border-top-right-radius: 25px 25px;
    display: inline-block;
}

.head-logo p {
    display: inline-block;
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.nav-logo {
  margin-top: 0;
  padding-top: 0;
}

.navbar-brand {
  margin-top: 0;
  padding-top: 0;
}

.jumbotron {
    margin-bottom: 0px !important;
    background-color: #000;
    border-radius: 0px !important;
    -moz-border-radius: 0px 0px !important;
    -webkit-border-radius: 0px 0px !important;
    padding-bottom: 0px !important;
}

.floating-menu {
    background-color: var(--tpc-slate);
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    position: relative;
    bottom: 20px; 
}

.menu-item-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-item-list li {
    display: inline-block;
    color: #fff;
}

.mnu-lst {
    border-left: solid 2px #fff;
    padding-left: 5px;
}

.svc-grp-1, .svc-grp-2, .svc-grp-3, 
.svc-grp-4, .svc-grp-5, .svc-grp-6 {
    margin: 0px; 
    min-height: 220px;
    padding: 20px;
}

.svc-grp-6 {
    /* background: url('/Content/Images/classifieds.png') no-repeat;
    background-size: 100% 100%; */
    background-color: #6d6e6b;
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    line-height: 170px;
}

svc-grp-cont {
    color: #fff;
}

.pre-text {
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0px;
    font-style: italic;
}

.classified-title {
    background-color: var(--tpc-slate);
    border-top-right-radius: 25px 25px;
    -moz-border-radius-topright: 25px 25px;
    -webkit-border-top-right-radius: 25px 25px;
    width: 300px;
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-style: italic;
    text-align: center;  
    margin-bottom: -20px;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 200px;
}

.classified-content {
    background-color: #f8f8f8;
    padding: 20px;
}

.donate-txt {
    padding: 5px;
    width: 200px;
    background-color: var(--tpc-gold);
    font-weight: bold;
    color: var(--tpc-slate);
    font-style: italic;
    text-align: center;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    margin: 0 auto;
}

.services {
    margin-top: 20px;
    margin-bottom: 40px;
}

.services-title {
    margin-top: 90px;
    font-style: italic;
}

.service-item {
    background-color: #f8f8f8;
    display: block;
    padding: 0px;
    margin-top: 20px;
    /*min-width: 300px;
    max-width: 300px;*/
    margin-left: auto;
    margin-right: auto;

}

.svc-itm-img {
    display: block;
    margin: 0 auto;
}

.svc-itm-title {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.testimonials {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding-bottom: 30px;
    padding-top: 20px;
}

.testimonials .title {
    text-align: center;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0px;
    font-style: italic;
}

.testimonials .content {
    align: center;
}

.testimonial {
    margin-top: 20px;
    text-align: center;
    display: block;
}

.testimonial .avatar {
    display: block;
    margin: 0 auto;
}

.testimonial .name {
    margin-top: 20px;
    font-weight: bold;
}

.testimonial .position {
}

.testimonial .test-text {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

.social-media {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-media .title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0px;
    font-style: italic;
}

.nn-media {
    background-color: #f8f8f8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.footer {
    margin-bottom: 20px;
}

.nn-ft {
    border-left: 3px solid #000;
}

.nn-ft-row1{
    text-align: center;
}

.nn-ft-row2{
    text-align: center;
}

.nn-ft-row2 dl {
    text-align: left;
    width: auto;
    margin-left: auto;
    display: inline-block;
}

.nn-ft-row3{
    text-align: center;
}

.nn-ft-red {
    color: var(--tpc-red);
    font-weight: bold;
    display: block;
}





.services-1 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
}

.list-card.first-card.events {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: #fec33e;
    font-size: 16px;
}

.list-card.first-card.ourservices {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: #00588d;
    color: #fff;
    font-size: 16px;
}

.list-card.first-card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.list-card {
  padding: 16px 0 12px 10px;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  display: block;
  background-color: #fff;
  text-align: left;
}

.list-card.last-card {
    border-bottom: 1px solid #e5e5e5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.item-desc {
    padding: 0 0 0 15px;
    margin: 0 0 0 0;
}

.item-desc i {
  font-size: 12px;
}

.item-desc p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.col-md-6  {
  padding-left: 15px;
  padding-right: 15px;
}

.card-date {
    display: inline-block;
    text-align: center;
}

.card-date .month {
    background-color: #ba0f6b;
    width: 52px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 11px;
    font-style: bold;
    font-weight: 500;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card-date .date {
    width: 52px;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-top: 2px;
}

.card-date .day {
    width: 52px;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1;
    border-bottom: 1px solid #ECEFF1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 10px;
    font-weight: 500;
    color: black;
    padding-bottom: 2px;
}

.service-icon {
  height: 60px;
  width: 60px;
  border-radius: 3px;
  margin: auto;
  text-align: center;
}

.service-icon span {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: white;
  top: 18px;
}

.service-img {
    display: inline-block;
    text-align: center;
}

.service-img-top {
    width: 52px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 11px;
    font-style: bold;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 2px;
}

.service-img-icon {
    width: 52px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding-top: 2px;
}

.service-img-bottom {
  width: 52px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 2px;
}

.housing {
  background-color: #b6d554;
}

.settlement {
  background-color: #ba0f6b;
}

.employment {
  background-color: #fec33e;
}

.accessibility {
  background-color: #00588d;
}

.jointhecause {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

footer-old {
  background-color: #b6d554;
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.social {
  font-size: 16px;
}

.img-usrprofile, .nn-avatar { 
    border-top-left-radius: 30% !important;
    border-bottom-right-radius: 30% !important; 
    border-top-right-radius: 0% !important;
    border-bottom-left-radius: 0% !important; 
}

.nn-style-btn { 
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important; 
    border-top-right-radius: 0% !important;
    border-bottom-left-radius: 0% !important; 
}

.nn-style-btn-2 { 
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important; 
    border-top-right-radius: 0% !important;
    border-bottom-left-radius: 0% !important; 
}

.nn-style-btn-3 { 
    border-top-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important; 
    border-top-right-radius: 0% !important;
    border-bottom-left-radius: 0% !important; 
}

.img-usr-edt {
    margin-top: 20px;
}

.avatar-change {
    background-color: rgba( 150,150,150,0.75);
    padding: 2px;
    position: absolute;
    top: 60px;
    left: 5px;
    width: 74px;
    min-height: 20px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: x-small;
    font-weight: bold;
}

.avatar-edt {
    cursor: pointer;
}

.g-recaptcha {
     display: inline-block; 
     float: none;
}

@media (max-width: 767px) {

    .nn-usrname-mnu {
        visibility: hidden !important;
    }

    .nn-usr-rmnu {
        visibility: hidden !important;
    }

}