<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/css/nnui.css">
    <link rel="stylesheet" href="~/Content/css/nn_adminui.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" type="text/css">
    <title>Newcomers Network - Admin</title>
</head>
<body>
    <div id="nn_adminui" class="adminpage"></div>
    <script src="~/Content/nn_adminui.js"></script>
</body>
</html>