@tpc-blue: #00588d;
@tpc-red: #ba0f6b;
@tpc-gold: #fec33e;
@tpc-lime: #b6d554;
@tpc-slate: #6d6e6b;
@tpc-white: #ffffff;
@tpc-black: #000000;

@menus-bgcolor: #eee;
@menus-hover-bgcolor: #ddd;
@menus-selected-bgcolor: #ddd;
@menu-disabled-color: #aaa;
@menu-border-color: #ddd;

@gray-main-bg: #efefef;
@panel-border: #ddd;
@footer-bg: #333333;

// AdminUI
@admin-bg: #3e4042;
@admin-font: #666666;
@navborder-d: darken(@admin-bg, 10%);
@navborder-b: lighten(@admin-bg, 10%);
@subp-text: darken(@gray-main-bg, 50%);
@panelheader-bg: darken(@gray-main-bg, 3%);