<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:17px;color:#373737;background:#f9f9f9">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td valign="bottom" style="border-collapse:collapse;padding:20px 16px 12px">
                                <div style="text-align:center">
                                    <a href="!NN_WSLINK!" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">
                                        <img src="!NN_TOPIMAGE!" width="120" height="100" style="outline:none;text-decoration:none;border:none">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" style="border-collapse:collapse">
                <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                    <tbody>
                        <tr>
                            <td width="546" valign="top" style="border-collapse:collapse">
                                <div style="max-width:600px;margin:0 auto">
                                    <div style="background:white;border-radius:0.5rem;margin-bottom:1rem">
                                        <h2 style="color:#ba0f6b;line-height:30px;margin-bottom:12px;margin:0 0 12px">A solicitation to change the password at <span class="il">Newcomers Network</span> was made for this account.</h2>
                                        <p style="font-size:17px;line-height:24px;margin:0 0 16px">You can change your password in following link</p>
                                        <table style="border-collapse:separate;width:100%;padding-bottom:2rem">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse:collapse;text-align:center;font-size:48px;line-height:56px">
                                                        <a href="!CONFIRM_LINK!" style="text-decoration: none"><div style="background-color:#00588d;text-align:center;font-size:48px;line-height:56px;color: #fff;border-bottom-left-radius:20px; border-top-right-radius:20px;padding: 20px">Change Password</div></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p style="font-size:17px;line-height:24px;margin:0 0 16px">
                                            If you did not made the request, just ignore this message. If it is happening withouth your interaction, please contact <a href="mailto:!NN_MAILTO!" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">newcomersnetworkws@<span class="il">newcomers.network</span>.com</a>.
                                        </p>
                                        <p style="font-size:17px;line-height:24px;margin:0 0 16px">
                                            Blessings,<br>
                                            The team at <span class="il">Newcomers Network</span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="border-collapse:collapse">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;margin-top:1rem;background:white;color:#989ea6">
                    <tbody>
                        <tr>
                            <td style="border-collapse:collapse;height:5px;background-color: #ba0f6b"></td>
                        </tr>
                        <tr>
                            <td valign="top" align="center" style="border-collapse:collapse;padding:16px 8px 24px">
                                <div style="max-width:600px;margin:0 auto">
                                    <p style="font-size:12px;line-height:20px;margin:0 0 16px;margin-top:16px">
                                        <a href="!NN_WSLINK!" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank"><span class="il">Newcomers Network</span></a>
                                        &nbsp;•&nbsp;
                                        <a href="!NN_CONTACT_LINK!" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">
                                            374 Sheppard Avenue East &nbsp;•&nbsp; Toronto, Ontario &nbsp;•&nbsp; M2N 3B6 &nbsp;•&nbsp; Phone: 416.222.3341
                                        </a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>